.box{
    width: 300px;
    min-height: 100px;
    background-color: lightblue;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    margin: auto; /*This will center the box horizontally but for the vertical you need to use flexbox*/
    font-size: 20px;
    box-sizing: border-box;

}
